<h1 style="text-align: center;"> Angular 2 And Advanced Bootstrap</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12     col-md-10 col-sm-10 col-xs-10  " style="background-color:#003430;">
            <h3 style="color:white;text-align:center;">Carousel Table </h3>
        </div>
        <div class="col-lg-12   col-md-10 col-sm-10 col-xs-10 " style="background-color: #0D4E4A ;color:white;">

            <!--carousel starts-->

            <div class="row">
                <div class=" col-lg-6 col-lg-offset-3    col-md-6  col-md-offset-3      col-sm-6   col-sm-offset-3        col-xs-12">
                    <div id="carousel1" class="carousel slide" data-ride="carousel">
                        <!-- carousel starts here-->
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel1" data-slide-to="1"></li>
                            <li data-target="#carousel1" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{label_0}}</td>
                                            <td>{{email_0}}</td>
                                            <td>{{phone_0}}</td>
                                        </tr>
                                        <tr>
                                            <td>George</td>
                                            <td>George@hotmail.com</td>
                                            <td>4523654654365346</td>
                                        </tr>
                                        <tr>
                                            <td>Maria</td>
                                            <td>Maria@hotmail.com</td>
                                            <td>456567365346</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>



                            <div class="item ">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{label_1}}</td>
                                            <td>{{email_1}}</td>
                                            <td>{{phone_1}}</td>
                                        </tr>
                                        <tr>
                                            <td>George</td>
                                            <td>George@hotmail.com</td>
                                            <td>4523654654365346</td>
                                        </tr>
                                        <tr>
                                            <td>Maria</td>
                                            <td>Maria@hotmail.com</td>
                                            <td>456567365346</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>






                            <div class="item ">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{label_2}}</td>
                                            <td>{{email_2}}</td>
                                            <td>{{phone_2}}</td>
                                        </tr>
                                        <tr>
                                            <td>George</td>
                                            <td>George@hotmail.com</td>
                                            <td>4523654654365346</td>
                                        </tr>
                                        <tr>
                                            <td>Maria</td>
                                            <td>Maria@hotmail.com</td>
                                            <td>456567365346</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- carousel ends here-->
                </div>
            </div>
        </div>
    </div>
    
  <div class="row">
        <div class="col-lg-12     col-md-10 col-sm-10 col-xs-10  " style="background-color:#003430 ;">
            <h3 style="color:white;text-align:center;">Some Photos</h3>
        </div>
        <div class="col-lg-12   col-md-10 col-sm-10 col-xs-10 " style="background-color: #0D4E4A  ;color:white;">

            <!--carousel starts-->

            <div class="row">
                <div class=" col-lg-6 col-lg-offset-3    col-md-6  col-md-offset-3      col-sm-6   col-sm-offset-3        col-xs-12">
                    <div id="carousel2" class="carousel slide2" data-ride="carousel">
                        <!-- carousel starts here-->
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel2" data-slide-to="1"></li>
                            <li data-target="#carousel2" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="images/1.jpg" alt="The Tardis">
                                <div class="carousel-caption">
                                    <h3>{{label_0}} </h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="images/2.jpg" alt="RoadRunner">
                                <div class="carousel-caption">
                                    <h3>{{label_1}}</h3>
                                </div>
                            </div>
                            <div class="item">
                                <img src="images/3.jpg" alt="Tweety">
                                <div class="carousel-caption">
                                    <h3>{{label_2}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- carousel ends here-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">


</div>